services:
  portracker:
    image: mostafawahied/portracker:latest
    container_name: portracker
    network_mode: host
    security_opt:
      - apparmor:unconfined
    pid: host
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 4999 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    ports:
      - 4999:4999
    environment:
      - DOCKER_HOST=tcp://localhost:2375
    volumes:
      - /volume1/docker/portracker:/data:rw
      #- /var/run/docker.sock:/var/run/docker.sock:ro
    restart: on-failure:5
